<div id="<%= dom_id tweet %>">
  <p>
    <strong>Message:</strong>
    <%= tweet.Message %>
  </p>

  <p>
    <strong>King:</strong>
    <%= tweet.King %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tweet.User_id %>
  </p>

</div>
