<div class="h1" style="text-align: center">Editing user</div>

<%= render "form", user: @user %>

<br>

<div class="button center" style="text-align: center">
  <button class="btn blue rounded-3"><%= link_to "Show this user", @user %> </button>

  <button class="btn blue rounded-3"><%= link_to "Back to users", users_path %></button>
</div>
