.principal {
    display: flex;
    height: 100%;
}



#profile {
    height: 50px;
    /*background: yellow;*/
}

#links-list {
    display: flex;
}

.navbar-link {
    height: 50px;
    width: 100%;
}



#posts {
    flex: 4;
    /*width: 85%;*/
    padding: 30px;
    text-align: center;
    /*background: darkblue;*/

}

#side-bar {
    flex: 1;
    /*width: 85%;*/
    padding: 30px;
    text-align: center;
}
.card {
    display: inline-block;
    padding: 50px;
    width: 50%;
    /*background: #B00100;*/
}

