.card{
    margin: 20px;
    padding: 20px;
}

.user-avatar{
    width: 100px;
    height: 100px;

}

p.h4{
    margin-top: 30px;
}

.badge{
    position: absolute;
    margin-left: 75%;
    margin-top: 23%;

}