<footer class="footer blue dark-3">
  Copyright © 2022 - Gazouilly
  <a target="_blank" href="https://github.com/ClementAdd/Gazouilly" style="padding: 5px 0 0 20px">
    <img src="https://pngimg.com/uploads/github/github_PNG83.png" alt="github logo" style="height: 40px;"/>
  </a>
</footer>