<nav class="navbar shadow-1 primary">
  <a href="/" class="navbar-brand">Gazouilly</a>
  <div class="navbar-menu ml-auto">
    <a class="navbar-link" href="/auth/login">Sign in</a>
    <a class="navbar-link" href="/auth/register">Register</a>
  </div>
</nav>