<nav class="navbar shadow-1 blue dark-3">
    <a href='/' class="navbar-brand">
      <img src='https://i.postimg.cc/f3KkZSjm/Twitter-Bird.png' alt='Twitter-Bird' style="width: 50px; padding-top: 20px"/>
    </a>

  <div class="navbar-menu ml-auto">
    <a class="navbar-link" href="/auth/login">Sign in</a>
    <a class="navbar-link" href="/auth/register">Register</a>
  </div>
</nav>