<nav class="navbar shadow-1 primary">
  <a href="#" class="navbar-brand">Gazouilly</a>
  <div class="navbar-menu ml-auto">
    <a class="navbar-link" href="#">Link</a>
    <a class="navbar-link" href="#">Link</a>
    <a class="navbar-link" href="#">Link</a>
  </div>
</nav>